# Application
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database (example)
DATABASE_URL=******localhost:5432/ontwerpprikkel

# Authentication (example)
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
